.nav
{
    width: 100%;
    height: 100vh;
    background-image: url("images/snail-6400177_1920.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.nav li a
{
    margin-top: 50px;
    color: #fff;
    text-decoration: none;
}
.nav li a:hover{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid pink;
}
.bord
{
    border: 2px solid rgba(106, 172, 41, 0.781);
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(106, 172, 41, 0.781);
    width: 10%;
    margin: auto;
    text-align: center;
    color: rgb(191, 216, 215);
}
.btn:hover{
    border-radius: 4px;
    border: 2px solid pink;
    cursor: pointer;
}